%table.table.literate
  %tbody
    - @sections.each do |section|
      - next unless section[:code] || section[:comment]
      %tr{:id => "line-#{section[:at]}"}
        %td{:colspan => section[:code] ? 1 : 2}
          %div.pilwrap
            %a.pilcrow{:href => "#line-#{section[:at]}"}
              = section[:at]
              &#182;
          ~ section[:comment]
        - if section[:code]
          %td.code~ section[:code]
